* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

#app {
  margin: 3rem auto;
  max-width: 40rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

<<<<<<< HEAD
label, input {
=======
label,
input {
>>>>>>> 6dde0640207e7c8b81c427c4009041f370bd7ba4
  margin-bottom: 0.5rem;
  display: block;
  width: 100%;
}

label {
  font-weight: bold;
}

ul {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
}

li {
  margin: 1rem 0;
  padding: 1rem;
  border: 1px solid #ccc;
<<<<<<< HEAD
}
=======
}
>>>>>>> 6dde0640207e7c8b81c427c4009041f370bd7ba4
