<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>js</title>
    <style>
        li {
            border: 2px solid deepskyblue;
        }
    </style>
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>-->
</head>

<body>
<div style="display: inline-flex; width: 500px">
    <div>
        <ul id="list" style="list-style: none; font-size: 20px;">

        </ul>
    </div>
    <div style="text-align: center">
        <h3 id="name"></h3>
        <p id="username"></p>
        <p id="phone"></p>
        <p id="email"></p>
        <p id="type"></p>
    </div>
</div>
<script>
    let xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
             var users = JSON.parse(this.responseText)
            let list = document.getElementById("list");
            for (let i of users) {
                let li1 = document.createElement("li");
                li1 = list.appendChild(li1);
                li1.innerText = `${i.firstname} ${i.lastname}`;
                li1.setAttribute(`onclick`, `userClick(${i.id})`);
                console.log(i.id)
            }
        }
    };
    xhttp.open("GET", "http://ma-web.ir/maktab52/users.json",true);
    xhttp.send();
    var users = users()
    function userClick(id){
        for(var i of users){
            if (i.id == id) break;
        }
        document.getElementById("name").innerText = i.firstname;
        document.getElementById("phone").innerText = i.phone;
        document.getElementById("email").innerText = i.email;
        document.getElementById("username").innerText = i.username;
        document.getElementById("type").innerText = i.type;
    }
</script>

</body>
</html>