.demo {
  width: 5rem;
  height: 5rem;
  background-color: gray;
  display: inline-flex;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
